{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}} - ClipHub</title>
</head>

<body class="bg-gray-900 text-gray-100">
    <header class="p-4 border-b border-gray-800 bg-gray-900">
        <h1 class="text-2xl font-bold">
            <a href='/' class="text-indigo-500 hover:text-indigo-400">ClipHub</a>
        </h1>
    </header>
    {{template "nav" .}}
    <main class="p-4">
        {{template "main" .}}
    </main>
    <footer class="p-4 border-t border-gray-800 mt-4 bg-gray-800">
        Powered by <a href='https://golang.org/' class="text-indigo-500 hover:text-indigo-400">Go</a>
    </footer>
</body>

</html>
{{end}}