{{define "nav"}}
<nav class="bg-gray-800 shadow-md">
    <div class="container px-4 py-4">
        <a href='/' class="text-gray-100 text-xl font-semibold hover:text-indigo-500 transition duration-300">Home</a>
    </div>
</nav>
{{end}}
